{xiao:template header.html}

    
    <div id="Member" class="block100"></div>
    <div class="Member w">
        <h2 class="comTitle inverse comTitleMember"><strong>Member</strong></h2>
        <h3 class="secondTitle">会员中心</h3>
    </div>

<div class="w clearfix">
    <div class="MainL">
        <div class="user-info border-shadow clearfix">
            <div class="user-img"><img src="/static/images/touxiang.png" width="60" height="60"></div>
            <div class="user-text">
                <h5><span>{xiao:$member['username']}</span>，欢迎进入您的会员中心！<a class="logout" href="{xiao:function.url('login/out')}">安全退出</a></h5>
                <p class="account_cxt">
                    <span class="account_num">手机号码：<strong style="color: #F44336;font-size: 16px;font-weight: bold;">{xiao:$member['phone']}</strong></span>
                </p>
            </div>
        </div>
        <div class="block22"></div>
        <div class="border-shadow">
            <ul class="userTipsList clearfix">
                <li>
                    <div class="i-m-l"><span class="c-img"></span></div>
                    <div class="i-m-r"><span>高等教育信息</span><br><a href="">查看</a></div>
                </li>
                <li>
                    <div class="i-m-l"><span class="c-img zxyz"></span></div>
                    <div class="i-m-r"><span>在线验证报告</span><br><a href="">查看</a>　<a href="bab/index.action">申请</a></div>
                </li>
                <li>
                    <div class="i-m-l"><span class="c-img xlrz"></span></div>
                    <div class="i-m-r"><span>学历与成绩认证</span><br><a href="">查看</a>　<a href="rzbg/showbind.action">绑定</a></div>
                </li>
                <li>
                    <div class="i-m-l i-m-l6"><span class="c-img txjd"></span></div>
                    <div class="i-m-r">图像校对<br><a href="">校对</a></div>
                </li>
                <li>
                    <div class="i-m-l i-m-l4"><span class="c-img gjhz"></span></div>
                    <div class="i-m-r">国际合作申请<br><a href="">查看</a>　<a href="gjhz/apply.action">发送报告</a></div>
                </li>
                <li>
                    <div class="i-m-l i-m-l5"><span class="c-img vote"></span></div>
                    <div class="i-m-r">调查/投票<br><a href="">参与</a></div>
                </li>
                <li>
                    <div class="i-m-l i-m-l4"><span class="c-img xzpt"></span></div>
                    <div class="i-m-r">学职平台<br><a href="" target="_blank">进入</a></div>
                </li>
            </ul>
        </div>
    </div>
    <div class="AsideR">

        <div class="m-right border-shadow">
            <h5>调查投票</h5>
            <dl class="clearfix">
                <dt class="ys"></dt>
                <dd class="pj"><span>推荐本校优势专业</span><a href="" target="_blank">我要推荐</a></dd>
                <div class="clearFloat">&nbsp;</div>
            </dl>
            <dl class="clearfix">
                <dt class="xx"></dt>
                <dd class="pj"><span>评价我的母校</span><a href="" target="_blank">我要评价</a></dd>
                <div class="clearFloat">&nbsp;</div>
            </dl>
            <dl class="clearfix">
                <dt class="zy"></dt>
                <dd class="pj"><span>评价我的专业</span><a href="" target="_blank">我要评价</a></dd>
                <div class="clearFloat">&nbsp;</div>
            </dl>
            <div class="txjd-phone">
                <p>各省市图像采集单位</p>
                <a href="" target="_blank"><i class="iconfont"></i>&nbsp;&nbsp;联系方式</a>
            </div>
        </div>
        <div class="block22"></div>
        <div class="border-shadow asideQr">
            <img src="/static/images/qr.png"><br><br>
            <img src="https://t1.chei.com.cn/archive/images/index/xz-zgqs.jpg">
        </div>

        
    </div>
</div>





<div class="block100"></div>




{xiao:template footer.html}